# ----------------------------
# Virtual Environment
# ----------------------------
venv/

# ----------------------------
# Python Cache
# ----------------------------
__pycache__/
*.pyc

# ----------------------------
# Database Files
# ----------------------------
*.db

# ----------------------------
# Media & Saved Images
# ----------------------------
media/

# ----------------------------
# YOLO Training Outputs
# ----------------------------
runs/

# ----------------------------
# Model Weights
# ----------------------------
*.pt

# ----------------------------
# Dataset (Training Data)
# ----------------------------
helmet_dataset/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# System Files
# ----------------------------
.DS_Store